.bookButton {
  width: fit-content;
  padding: 12px;
  height: fit-content;
  font-family: "helvetica_medium";
  border: none;
  border-radius: 5px;
  background-color: #075432;
  cursor: pointer;
  color: white;
}
