.bookButton {
  width: 7rem;
  height: 2.4rem;
  font-family: "helvetica_medium";
  border: none;
  border-radius: 5px;
  background-color: #075432;
  padding: 3px;
  cursor: pointer;
  color: white;
}
