$gideon: #000;
@font-face {
  font-family: "ogg_thin";
  src: url("./fonts/OggThin-subset.woff2") format("woff2");
}
@font-face {
  font-family: "ogg_light";
  src: url("./fonts/OggLight-subset.woff2") format("woff2");
}
@font-face {
  font-family: "helvetica_medium";
  src: url("./fonts/Helvetica\ Neue\ Medium\ Extended.woff2") format("woff2");
}
@font-face {
  font-family: "ogg_medium";
  src: url("./fonts/OggMedium-subset.woff2");
}
@font-face {
  font-family: "ogg_thin2";
  src: url("./fonts/OggThin\ \(1\).woff2") format("woff2");
}
@font-face {
  font-family: "ogg_regular";
  src: url("./fonts/OggRegular-subset.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-display: block;
  
  a {
    text-decoration: none;
    color: black;
  }
}
.mobileNav {
  height: 100vh;
  width: 100vw;
  background-color: #f3f3f3;
  clip-path: circle(0% at 97% 4%);
  color: black;
  position: absolute;
  z-index: 20;
  overflow: hidden;
  top: 0px;
  transition: 0.6s;
  .innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 43px;
    height: 100%;
    .navElement {
      margin: 25px;
      cursor: pointer;
    }
  }
}
body {
  font-family: "ogg_thin2";
  background-color: #f3f3f3;
  position: relative;
  overflow-x: hidden;
  font-display: block;
}
.background {
  position: fixed;
  top: -10%;
  left: -10%;
  right: -50%;
  bottom: -10%;
  width: 200vw;
  height: 200vh;
  background: url("../assets/images/noise-transparent.png") transparent repeat 0
    0;
  z-index: -1;
  background-repeat: repeat;
  animation: bg-animation 0.3s infinite;
  opacity: 1;
  visibility: visible;
}
@keyframes bg-animation {
 0%{
  transform: translate(-15%,-10%);
 }
 10%{
  transform: translate(-25%,-5%);
 }
 40%{
  transform: translate(-0%,-24%);
 }
 40%{
  transform: translate(-30%,-14%);
 }
}

@media (min-width: 700px) {
  .mobileNav {
    display: none;
  }
}
