.container {
  // background-color: green;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  width: 100vw;
  margin-top: 5rem;
  font-family: "ogg_thin2";
  .innerContainer {
  }
  .firstParagraph {
    font-size: 4rem;
    text-align: center;
  }
  .secondParagraph {
    font-size: 2rem;
    text-align: center;
  }
  .inputs {
  }
  input {
    padding: 0.7rem;
    background-color: #cccc;
    border: none;
    border-radius: 7px;
    width: 20rem;
    font-family: "helvetica_medium";
  }
  input::placeholder {
    font-family: "helvetica_medium";
  }
  input:focus {
    outline: none;
  }
  .inputs {
    display: flex;
    justify-content: center;
  }
  button {
    width: 7rem;
    height: 2.4rem;
    margin-top: 2rem;
    font-family: "helvetica_medium";
    border: none;
    border-radius: 5px;
    background-color: #075432;
    padding: 3px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    .firstParagraph {
      font-size: 2.5rem;
    }
    .secondParagraph {
      font-size: 1.6rem;
    }
  }
}
@media screen and (max-width: 1113px) {
  .container {
    margin-top: 0;
  }
}

@media screen and (max-width: 450px) {
  .container {
    .firstParagraph {
      font-size: 2rem;
    }
    .secondParagraph {
      font-size: 1.2rem;
    }
    .inputElements {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 1rem;
    }
    button {
      align-self: center;
    }
  }
}

@media screen and (max-width: 360px) {
  .container {
    .firstParagraph {
      font-size: 1.5rem;
    }
    .secondParagraph {
      font-size: 1rem;
    }
    .inputElements {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 1rem;
    }
    input {
      width: 15rem;
    }
    button {
    }
  }
}
