.heroContainer {
  justify-content: space-between;
  display: flex;
  padding-left: 70px;
  font-family: "ogg_thin2";
  height: 100vh;
  width: 100vw;
  position: relative;
  .bookButtonContainer {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 10px;
    display: flex;
    right:-20%;
    .bookButton {
      width: 7rem;
      height: 2.4rem;
      font-family: "helvetica_medium";
      border: none;
      border-radius: 5px;
      background-color: #075432;
      padding: 3px;
      margin: 7px;
      cursor: pointer;
      color: white;
      display: none;
    }
    .notNowButton{
      width: 7rem;
      height: 2.4rem;
      font-family: "helvetica_medium";
      border: 1px solid black;
      border-radius: 5px;
      padding: 3px;
      margin: 7px;
      cursor: pointer;
      color: black;
      display: none;
    }
  }
  .split {
    // outline: 2px solid red;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .copyText {
    font-size: 3.5rem;
    // outline: 2px solid rgb(176, 57, 212);
    position: relative;
    width: 40%;
    padding: 5rem;
    .whitespace {
      margin-left: 1rem;
    }
  }
  .heroImg {
    position: absolute;
    left: 11rem;
    top: 10%;
    z-index: 2;
    width: 40%;
  }
  .otherHeroImg {
    position: absolute;
    left: 8rem;
    top: 10%;
    width: 50%;
  }
  .imgHolder {
    position: relative;
    width: 60%;
    height: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .heroContainer {
    padding-left: 0;
    .split {
      .copyText {
        font-size: 3rem;
        .whitespace{
          margin-left: 0.5rem;
        }
      }
      .imgHolder {
        .heroImg {
          top: 10%;
        }
        .otherHeroImg {
          top: 8%;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .heroContainer {
    .split {
      .copyText {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 590px) {
  .heroContainer {
    height: 120vh;
    .bookButtonContainer {
      width: fit-content;
      right: 28%;
      .bookButton {
        display: block;
      }
      .notNowButton{
        display: block;
      }
    }
    .split {
      display: flex;
      flex-direction: column-reverse;
      .copyText {
        font-size: 2.5rem;
        width: 100%;
        padding: auto;
        text-align: center;
        // margin-top: 50rem;
      }
      .imgHolder {
        width: 100%;
        .heroImg {
          left: 20%;
          width: 50%;
        }
        .otherHeroImg {
          left: 20%;
          width: 60%;
        }
      }
    }
  }
}


@media screen and (max-width: 460px) {
  .heroContainer {
    height: 120vh;
    .split {
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      .copyText {
        font-size: 2rem;
        width: 100%;
        position: absolute;
        top: 40%;
        left: 0%;
        text-align: center;
      }
      .imgHolder {
        width: 100%;
        .heroImg {
          left: 20%;
          width: 50%;
        }
        .otherHeroImg {
          left: 20%;
          width: 60%;
        }
      }
    }
    .bookButtonContainer {
      right: 23%;
      .bookButton {
        display: block;
      }
    }
  }
}


@media screen and (max-width: 400px) {
  .heroContainer {
    height: 120vh;
    .split {
      // display: flex;
      // flex-direction: column-reverse;
      // position: relative;
      .copyText {
        font-size: 2rem;
        width: 100%;
        position: absolute;
        top: 33%;
        left: 0%;
        text-align: center;
      }
      .bookButtonContainer {
        // left: 25%;
        right: 20%;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .heroContainer {
    height: 120vh;
    .split {
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      .copyText {
        font-size: 1.6rem;
        width: 100%;
        position: absolute;
        top: 30%;
        left: -5%;
        text-align: center;
      }
      .imgHolder {
        width: 100%;
        .heroImg {
          left: 20%;
          width: 50%;
        }
        .otherHeroImg {
          left: 20%;
          width: 60%;
        }
      }
    }
    .bookButtonContainer {
      right: 12%;
      .bookButton {
        display: block;
      }
    }
  }
}

  @media screen and (max-width: 300px) {
    .heroContainer {
      height: 120vh;
      .split {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        .copyText {
          font-size: 1.7rem;
          width: 100%;
          position: absolute;
          top: 30%;
          left: -10%;
          // outline: 2px solid rgb(255, 3, 3);
          // padding: auto;
          text-align: center;
          // margin-top: 50rem;
        }
        .imgHolder {
          width: 100%;
          .heroImg {
            left: 20%;
            width: 50%;
          }
          .otherHeroImg {
            left: 20%;
            width: 60%;
          }
        }
      }
    }
  }