.ourServicesSectionContainer {
  margin-top: 10rem;
  width: 100vw;
  min-height: 250vh;
  background-color:#075432;
  color: rgb(218, 216, 216);
  position: relative;
  font-family: "ogg_light";
  .title {
    font-size: 5rem;
    text-align: center;
  }
  .servicesContainer {
    position: absolute;
    width: 30%;
    // outline: 2px solid rgb(255, 5, 5);
    height: 400px;

    .serviceTitle {
      font-size: 2rem;
      text-align: center;
    }
    .serviceDescription {
      text-align: center;
    }
    .imgsContainer {
      position: relative;
      width: 100%;
      height: 50%;
      img {
        position: absolute;
        max-width: 100%;
      }
    }
    .descriptionContainer {
      position: absolute;
      bottom: 10%;
      left: 10%;
    }
  }
  .descriptionContainer {
    // position: absolute;
    // top: 250px;
    // left: 70px;
  }
  .firstContainer {
    transform: translate(125%, 20%);
  }
  .secondContainer {
    transform: translate(12%, 75%);
  }
  .thirdContainer {
    transform: translate(225%, 75%);
  }
  .fourthContainer {
    transform: translate(115%, 150%);
  }
  .fifthContainer {
    transform: translate(12%, 225%);
  }
  .sixthContainer {
    transform: translate(210%, 265%);
  }

  .translateUp {
    transform: translateY(-14%);
  }
}

@media only screen and (max-width: 650px) {
  .ourServicesSectionContainer {
    .title {
      font-size: 4rem;
    }
    .servicesContainer {
      .descriptionContainer {
      }
      .serviceTitle {
        font-size: 1.5rem;
      }
      .serviceDescription {
        font-size: 0.9rem;
        .descriptionContainer {
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .ourServicesSectionContainer {
    min-height: 270vh;
    .title {
      font-size: 4rem;
    }
    .servicesContainer {
      width: 43%;
      .descriptionContainer {
      }
      .serviceTitle {
        font-size: 1.5rem;
      }
      .serviceDescription {
        font-size: 0.9rem;
        .descriptionContainer {
        }
      }
    }
    .firstContainer {
      transform: translate(120%, 20%);
    }
    .thirdContainer {
      transform: translate(15%, 345%);
    }
    .sixthContainer {
      transform: translate(115%, 265%);
    }
  }
}

@media only screen and (max-width: 420px) {
  .ourServicesSectionContainer {
    min-height: 420vh;
    .title {
      font-size: 3rem;
    }
    .servicesContainer {
      width: 80%;
      .descriptionContainer {
      }
      .serviceTitle {
        font-size: 2rem;
      }
      .serviceDescription {
        font-size: 1.2rem;
        .descriptionContainer {
        }
      }
    }
    .firstContainer {
      transform: translate(10%, 20%);
    }
    .secondContainer {
      transform: translate(10%, 125%);
    }
    .thirdContainer {
      transform: translate(10%, 230%);
    }
    .fourthContainer {
      transform: translate(10%, 335%);
    }
    .fifthContainer {
      transform: translate(10%, 440%);
    }
    .sixthContainer {
      transform: translate(10%, 545%);
    }
  }
}
