.container {
  font-family: "ogg_thin2";
  position: relative;
  background-repeat: no-repeat;
  background: url("../../assets/images/aboutus.jpg");
  background-position: center center;
  width: 100vw;
  overflow: hidden;
  margin-top: -4rem;
  height: 100vh;
  background-size: cover;
  top: 0;
  z-index: -1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .introText {
    position: relative;
    bottom: -17%;
    left: -4%;
    font-size: 18rem;
  }
}
@media (max-width: 1113px) {
  .container {
    background-position: left top;
    .introText {
      font-size: 23vw;
      bottom: -10%;
    }
  }
}

@media (max-width: 700px) {
  .container {
    .introText {
      font-size: 23vw;
      bottom: -7%;
    }
  }
}
@media (max-width: 500px) {
    .container {
      .introText {
        font-size: 23vw;
        bottom: -5%;
      }
    }
  }
