.container {
  position: absolute;
  top: 100%;
  left: 30%;
  font-family: "helvetica_medium";
  z-index: 30;
  padding: 2rem 3rem;
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 5px 0 rgba(10, 12, 46, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  .innerContainer {
    .heading {
      font-size: 1.8rem;
      text-align: center;
    }
    .questionsContainer {
      margin-top: 2rem;
      .question {
        font-size: 14px;
        margin: 3rem 0rem;
        display: flex;
        align-items: center;
        gap: 20px;
        .dropdown {
          cursor: pointer;
          position: relative;
          .chosenService {
            font-size: 13px;
            background-color: white;
            border: 1px solid rgb(121, 121, 121);
            color: #075432;
            padding: 7px 40px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .chosenServiceTitle {
              margin-right: 0.5rem;
            }
            .svgContainer {
              transition: 0.2s all;
            }
            svg {
              transform: translateY(10%);
            }
          }
        }
        .dropDownComp {
          position: absolute;
          z-index: 4;
          left: -30%;
          box-shadow: 8px 10px 15px -1px rgba(0, 0, 0, 0.23);
          -webkit-box-shadow: 8px 10px 15px -1px rgba(0, 0, 0, 0.23);
          -moz-box-shadow: 8px 10px 15px -1px rgba(0, 0, 0, 0.23);
          width: 140%;
          margin-top: 10px;
          border-radius: 7px;
          color: #000000;
          display: flex;
          flex-wrap: wrap;
          background-color: white;
          padding: 10px;
          font-size: 14px;
          .service {
            margin: 20px;
            color: #000000;
            border-bottom: 1px solid rgb(73, 73, 73);
          }
        }
      }
      .emailInput {
        padding: 7px 10px;
        font-family: "helvetica_medium";
        border: 1px solid rgb(95, 95, 95);
        border-radius: 5px;
      }
      .emailInput::placeholder {
        font-family: "helvetica_medium";
      }
      .emailInput:focus {
        outline: none;
      }
    }
  }
  .counterComp {
    display: flex;
    align-items: center;
    .numberOfPeople {
      font-size: 1.2rem;
    }
    .button {
      margin: 0px 10px;
      padding: 5px 10px;
      display: flex;
      height: 30px;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      background-color: #075432;
      svg {
        transform: translateY(10%);
      }
    }
  }
  .bookButtonContainer {
    // background-color: red;
    display: flex;
    justify-content: center;
  }
}


@media screen and (max-width: 900px) {
  .container {
    left: 20%;
  }
}
@media screen and (max-width: 770px) {
  .container {
    left: 5%;
  }
}
@media screen and (max-width: 630px) {
  .container {
    left: 1%;
  }
}
@media screen and (max-width: 450px) {
  .container {
    left: 1%;
    padding: 1rem;
    .innerContainer {
      .heading {
        font-size: 1.3rem;
      }
      .questionsContainer {
        .question {
          font-size: 12px;
        }
      }
    }
  }
}
@media screen and (max-width: 430px) {
  .container {
    left: 10%;
    padding: 2rem;
    .innerContainer {
      .questionsContainer {
        .question {
          flex-direction: column;
          text-align: center;
          font-size: 13px;
          margin: 2rem 0rem;
        }
      }
    }
  }
}
@media screen and (max-width: 390px) {
  .container {
    left: 0;
    margin: auto;
  }
}
